*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(193, 226, 237);
}

header{
    padding: 20px 50px;
    nav{
        display: flex;
        justify-content: flex-end;
        gap: 50px;
    }
}

main{
    section.main-content{
        padding-top: 70px;
    }
}

footer{

    padding: 50px 0;
    .links{
        width: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }
}

